{% extends "SdzBlogBundle::layout.html.twig" %}
 
{% block title %}
  {{ title }} - {{ parent() }}
{% endblock %}
 
{% block lmievent_body %}
 
  <h2>{{ title| trans({'%nom%': name}) }}</h2>
  <p class="indent">{{ message }}</p>
  <br />
  <form action="{{ path(suppressionUrl, {'id': bean.id}) }}" method="post">
    <a href="{{ path(detailUrl, {'id': bean.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      {{ 'button.description.return'|trans }}
    </a>
    <input type="submit" value="{{ 'button.delete.label'|trans }}" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
 
{% endblock %}
