{% set index_btn_to_activate = index_btn_to_activate|default(0) %}
{% set dataType = type|default(null) %}
 
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{{ 'me.lastname' | trans }} {{ 'me.firstname' | trans }}{% endblock %}</title>
 
    {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}"  type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/lmiuser.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmicarpooling/css/lmicarpooling.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/identification.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/form.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/lmievent-ie8.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/lmievent.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/lmievent/css/style.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/lmievent/css/pictures.css') }}" type="text/css" />
    {% endblock %}
  </head>
 
  <body>
  
	<div class="conteneur">
	
      <div id="header">
      
	  	<div class="row" style="border: 1px solid black;margin: 0px; padding-top: 5px">
			
    		{% include "::liens_header.html.twig" %}
    		
    		{% include "::header_carpooling_quick_form.html.twig" %}
		     
     	</div>
     	
      </div>
      
      <div class="row">
      	<!-- ------------ --------->
      	<!-- Formulaires - debut -->
      	<!-- ------------ --------->
{#       	<div id="accueil_panel" style="border: 1px solid red;margin-left: 20px;display: none">#}
{#       		<ul id="formRechEcole">#}
{# 				{{ render(controller("LmiCarPoolingBundle:CarPooling:formulaire", {})) }}#}
{#       		</ul>#}
{#       	</div>#}
      	<!-- ------------ ------->
      	<!-- Formulaires - Fin -->
      	<!-- ------------ ------->
      	
      	<!-- ------------ -->
      	<!-- Menu - debut -->
      	<!-- ------------ -->
      	
      	<!-- Liens principaux -->
        <div id="menu" class="span3">
			<div class="well">
			
				<!-- ------------ -------->
      			<!-- liens - principaux -->
      			<!-- ------------ -------->
				{% include "::liens_menu.html.twig" %}
				
				<br />
				
				<!-- Liens dépendant -->
{# 				{% if dataType is not null %}#}
				<div class="autres">
					{% if dataType == 'event' %}
						<p class="title"><b>Trier par:</b></p>
						<table class="contenu">
							<tr><label><input type="checkbox" value=""> Date</span></label></tr>
							<tr><label><input type="checkbox" value=""> Ville</label></tr>
							<tr><label><input type="checkbox" value=""> Ecole</label></tr>
							<tr><label><input type="checkbox" value=""> Type event</label></tr>
					    </table>
					{% elseif dataType == 'all' %}
						<p><u>Autres Liens: </u></p>
						<ul>
							<li id="monProfil"><td><a>Mon Profil</a></li>
							<li id="mesCovs"><a>Mes covoiturages</a></li>
							<li id="mesLocations"><a>Mes Locations</a></li>
							<li id="mesEvenements"><a>Mes soirées à venir</a></li>
						</ul>
					{% endif %}
				</div>
{# 				{% endif %}#}
				<br class="clean"/>
			</div>
        </div>
        <!-- ------------ -->
      	<!-- Menu - Fin ---->
      	<!-- ------------ -->

		<!-- ------------ --->
      	<!-- Corps - debut -->
      	<!-- ------------ --->
        <div id="content" class="span11">
          {% block body %}
          {% endblock %}
        </div>
        <!-- ------------ --->
      	<!-- Corps - debut -->
      	<!-- ------------ --->
      </div>
 
      <hr>
 
      <footer>
        <p>The sky's the limit © 2012 and beyond.</p>
		
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<p>Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">{{ 'link.logout'|trans }}</a></p>
		{% else %}
			<p><a href="{{ path('fos_user_security_login') }}">{{ 'link.login'|trans }}</a></p>
		{% endif %}
      </footer>
    </div>
 
    {% block javascripts %}
	   	<script src="{{ asset('components/jquery/jquery.js') }}"></script>
    	<script src="{{ asset('components/jquery/jquery.min.js') }}"></script>
	   	<script src="{{ asset('components/bootstrap/js/bootstrap.js') }}"></script>
	    <script src="{{ asset('components/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ asset('components/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js') }}"></script>
		<script src="{{ asset('bundles/lmievent/js/form.js') }}"></script>
		<script src="{{ asset('bundles/lmievent/js/lmiuser.js') }}"></script>
		<script src="{{ asset('bundles/lmievent/js/lmievent.js') }}"></script>
		<script src="{{ asset('js/bpopup/jquery.bpopup.js') }}"></script>
		<script src="{{ asset('js/bpopup/jquery.bpopup.min.js') }}"></script>
   {% endblock %}
  </body>
</html>
