{% set index_btn_to_activate = index_btn_to_activate|default(0) %}
{% set dataType = type|default(null) %}
 
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{{ 'me.lastname' | trans }} {{ 'me.firstname' | trans }}{% endblock %}</title>
 
    {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.3.custom.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/lmiuser.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/identification.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/form.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/lmievent-ie8.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/lmievent/css/lmievent.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/lmievent/css/style.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/lmievent/css/pictures.css') }}" type="text/css" />
    {% endblock %}
  </head>
 
  <body>
	<div class="conteneur">
      <div id="header">
	  	<div class="row" style="border: 1px solid black;margin: 0px;">
	         <ul id="user-actions">
	         	<li><a id="inscription" href="{{ path('lmievent_user_inscription') }}">Inscription</a></li>
	      		<li>
					<a id="identification" href="#">Identification</a>
	      			<ul>
		      			<li>
		      				<div class="form">
		      					{{ render(controller("LmiEventBundle:User:authentification", {})) }}
		      				</div>
		      			</li>
		      		</ul>
	      		</li>
		     </ul>
     	</div>
      </div>
      
      <div class="row">
      	<!-- ------------ --------->
      	<!-- Formulaires - debut -->
      	<!-- ------------ --------->
      	<div id="accueil_panel" style="border: 1px solid red;margin-left: 20px;display: none">
      		<ul id="formRechEcole">
				{{ render(controller("LmiEventBundle:CarPooling:formulaire", {})) }}
      		</ul>
      	</div>
      	<!-- ------------ ------->
      	<!-- Formulaires - Fin -->
      	<!-- ------------ ------->
      	
      	<!-- ------------ -->
      	<!-- Menu - debut -->
      	<!-- ------------ -->
      	
      	<!-- Liens principaux -->
        <div id="menu" class="span3">
			<div class="well">
				<div>
					<table>
						<tr>
							<td><a href="{{ path('lmievent_accueil') }}">Evenements</a></td>
							<td><a href="#"><img class="rech-style-image" src="{{ asset('bundles/lmievent/images/search.png' | imagine_filter('thumb_20x20')) }}" alt="recherche" /></a></td>
						</tr>
						<tr>
							<td><a href="{{ path('lmievent_rechercher_ecoles') }}">Ecoles</a></td>
							<td><a class="accueil_btn" href="#"><img class="rech-style-image" src="{{ asset('bundles/lmievent/images/search.png' | imagine_filter('thumb_20x20')) }}" alt="recherche" /></a></td>
						</tr>
						<tr>
							<td><a href="{{ path('lmievent_rechercher_covoiturages') }}">Covoiturages</a></td>
							<td><a class="accueil_btn" href="#"><img class="rech-style-image" src="{{ asset('bundles/lmievent/images/search.png' | imagine_filter('thumb_20x20')) }}" alt="recherche" /></a></td>
						</tr>
						<tr>
							<td><a href="{{ path('lmievent_rechercher_hebergements') }}">Hebergements</a></td>
							<td><a class="accueil_btn" href="#"><img class="rech-style-image" src="{{ asset('bundles/lmievent/images/search.png' | imagine_filter('thumb_20x20')) }}" alt="recherche" /></a></td>
						</tr>
						
						<tr>
							<td><a href="{{ path('lmievent_user_dashbord') }}">Tableau de bord</a></td>
							<td style="text-align: right"><a class="accueil_btn" href="#"><img class="rech-style-image" src="{{ asset('bundles/lmievent/images/search.png' | imagine_filter('thumb_20x20')) }}" alt="recherche" /></a></td>
						</tr>
					</table>
				</div>
				
				<br />
				
				<!-- Liens dépendant -->
{# 				{% if dataType is not null %}#}
				<div class="autres">
					{% if dataType == 'event' %}
						<p class="title"><b>Trier par:</b></p>
						<table class="contenu">
							<tr><label><input type="checkbox" value=""> Date</span></label></tr>
							<tr><label><input type="checkbox" value=""> Ville</label></tr>
							<tr><label><input type="checkbox" value=""> Ecole</label></tr>
							<tr><label><input type="checkbox" value=""> Type event</label></tr>
					    </table>
					{% elseif dataType == 'all' %}
						<p><u>Autres Liens: </u></p>
						<ul>
							<li id="monProfil"><td><a>Mon Profil</a></li>
							<li id="mesCovs"><a>Mes covoiturages</a></li>
							<li id="mesLocations"><a>Mes Locations</a></li>
							<li id="mesEvenements"><a>Mes soirées à venir</a></li>
						</ul>
					{% endif %}
				</div>
{# 				{% endif %}#}
				<br class="clean"/>
			</div>
        </div>
        <!-- ------------ -->
      	<!-- Menu - Fin ---->
      	<!-- ------------ -->

		<!-- ------------ --->
      	<!-- Corps - debut -->
      	<!-- ------------ --->
        <div id="content" class="span11">
          {% block body %}
          {% endblock %}
        </div>
        <!-- ------------ --->
      	<!-- Corps - debut -->
      	<!-- ------------ --->
      </div>
 
      <hr>
 
      <footer>
        <p>The sky's the limit © 2012 and beyond.</p>
		
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<p>Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">{{ 'link.logout'|trans }}</a></p>
		{% else %}
			<p><a href="{{ path('fos_user_security_login') }}">{{ 'link.login'|trans }}</a></p>
		{% endif %}
      </footer>
    </div>
 
    {% block javascripts %}
		<script src="{{ asset('//code.jquery.com/jquery-1.8.2.min.js') }}"></script>
		<script src="{{ asset('//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/datepicker.js') }}"></script>
		<script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
		<script src="{{ asset('bundles/lmievent/js/jquery-ui-i18n-it.js') }}"></script>
		<script src="{{ asset('bundles/lmievent/js/form.js') }}"></script>
		<script src="{{ asset('bundles/lmievent/js/lmiuser.js') }}"></script>
		<script src="{{ asset('bundles/lmievent/js/lmievent.js') }}"></script>
		<script src="{{ asset('js/bpopup/jquery.bpopup.js') }}"></script>
		<script src="{{ asset('js/bpopup/jquery.bpopup.min.js') }}"></script>
   {% endblock %}
  </body>
</html>
