<center><h3>Authetification</h3></center>
<div class="well">
	<form action="{{ path('lmievent_user_auth') }}" method="post" {{ form_enctype(form) }}>
		<div class="error">
			{{ form_errors(form) }}
		</div>
		
		<div class="fake-input">
    		{{ form_widget(form.username) }}
    		<img src="{{ asset('bundles/lmievent/images/auteur_logo.jpg' | imagine_filter('thumb_15x15')) }}" alt="locale_fr.jpg" class="image-locale"/>
    	</div>
		<div class="fake-input">
    		{{ form_widget(form.password) }}
    		<img src="{{ asset('bundles/lmievent/images/auteur_logo.jpg' | imagine_filter('thumb_15x15')) }}" alt="locale_fr.jpg" class="image-locale"/>
    	</div>
		
		<input type="submit" class="btn-form-submit" style="width: 98%;"/>
	</form>
</div>
