<div style="border: 1px solid green; padding: 10px;">
	<!-- Form title -->
	<h3 style="text-align: center; text-decoration: underline;">Création groupe de contacts</h3>
	
	<form method="post" {{ form_enctype(form) }}>
		
		<!-- Contacts list -->
		<div style="border: 1px solid green;text-align: center;font-weight: bold; background: blue">Liste de vos derniers contacts</div>
		<div style="border: 1px solid green; padding: 5px; overflow-y: scroll; height: 215px">
			{% for contact in contacts %}
				<div style="float: left; margin: 2px; font-size: 80%;height: 34px;border: 1px solid green;">
					<div style="float: left"><img class="rech-style-image" src="{{ asset('bundles/lmiuser/images/messi.jpg' | imagine_filter('thumb_35x35')) }}" alt="recherche" /></div>
					<div style="float: left; padding: 0; height: 100%; width:98px">
						{{ contact.firstname }}
						{{ contact.lastname }}
					</div>
					<div style="float: left;border-left: 1px solid green; height: 90%;padding: 2px"><input type="checkbox"></div>
					<div class="clean"></div>
				</div>
			{% endfor %}
			<div class="clean"></div>
		</div>
		
		<div>
			<fieldset class="sortZone" w>
				<legend><span>Informations Groupe</span></legend>
				{{ form_widget(form) }}
			</fieldset>
		</div>
		
		<div>
			<input type="submit" id="btn-submit" class="btn btn-primary" class="b-confirm" />
			<input type="reset" value="{{ 'button.cancel'|trans }}" id="btn-reset" class="btn btn-default" />
			<div class="clean"></div>
		</div>
	</form>
</div>
