<div class="formulaire">
	<h3>Formulaire de recherche d'écoles</h3>
	<div class="well">
		<form action="{{ path('lmievent_rechercher_ecoles') }}" method="post" {{ form_enctype(form) }}>
			<div class="error">
				{{ form_errors(form) }}
			</div>
			
			<div class="nom" style="margin-bottom: 2px;font-weight: bold;">
				Nom : {{ form_widget(form.nom) }}
			</div>
			
			{% include "LmiEventBundle:Form:Briques/ambiances.html.twig" %}
			{% include "LmiEventBundle:Form:Briques/regions.html.twig" %}
			
			<div class="clean"/>
			
			{{ form_rest(form) }}
			
			<input type="submit" />
			<input type="button" value="Fermer" />
		</form>
	</div>
</div>
